<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro į CSS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        {% include 'inc_menu.html' %}
    </header>
    <main style="padding: 2rem; min-height: 70vh;">
        <h1>Intro į CSS</h1>
    </main>
    <footer>
        <p>&copy; 2023 CodeAcademy</p>
    </footer>
</body>
</html>