<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro į HTML</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .red {color: red;}
    </style>
</head>
<body>
    <header>
        {% include 'inc_menu.html' %}
    </header>
    <main style="padding: 2rem; min-height: 70vh;">
        <h1>Intro į HTML</h1>
        <p>Pagrindinis HTML kalbos vienetas yra elementas. Kaip ir XML, HTML elementas turi vardą ir gali turėti bet kokį skaičių atributų. 
            Elemento viduje gali būti tekstas bei kiti elementai. Tiek tekstas, tiek ir dukteriniai elementai paprastai gali kartotis ir sekti
            bet kuria tvarka.</p>
        <p>Elemento atributai turi vardą ir reikšmę. Jei galimi atributai nenurodomi, paprastai galioja sutartos nutylėjimo taisyklės. 
            Pavyzdžiui, HTML fragmentas <span class="red"><strong>r</strong> raudona</span> turi du elementus. Vienas jų (font) perjungia 
            rodomo teksto spalvą į raudoną. Šio elemento viduje esantis antrasis elementas (b), perjungia šriftą į paryškintą. Pirmasis elementas
            turi vieną atributą (color) su reikšme red. Antrasis elementas atributų neturi.</p>
        <p>HTML kode atributų reikšmes rekomenduojama apgaubti kabutėmis, nors HTML 4.01 standartas to nereikalauja.</p>
    </main>
    <footer>
        <p>&copy; 2023 CodeAcademy</p>
    </footer>
</body>
</html>
